@import "tailwindcss";
@import "@heroui/styles"; 
@plugin "daisyui";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 120s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}